<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Zmien status uzytkownikowi</title>
</head>
<body>
	<h2>Zmien status uzytkownikowi</h2>
	
	<div>
	   <form th:action="@{/web/user/opositeStatus}" th:method="get">
        <select th:name="userId" size="10" style="width:100%">
			<option  th:each="user : ${users}" th:value="${user.userId}" th:text="${user.name} + ' ' + ${user.lastName} +' Status:'+ ${user.status}">
			</option>
		</select><br>
        <input th:type="submit" value="Zmien status">
    	</form>
	</div>
</body>
</html>